data/physionet.org/*
*__pycache__*
*__init__*
data/data_dumps/*
experiments/*/models/*
experiments/baseline-plus-augms-manyfolds/*/models/*
experiments/baseline-plus-augms-manyfolds-fft/*/models/*
experiments/baseline-plus-augms-manymodels/*/models/*